* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(240, 240, 240);
}
section .hot-content {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  height: 80vh;
  background-image: url("./image/contentPage1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
section .fade-hot-content {
  position: absolute;
  top: 13.7%;
  left: 1%;
  width: 98%;
  height: 80vh;
  background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 0),
    rgba(240, 240, 240, 1)
  );
}
section .fade-hot-content:hover,
.hot-content .arrow:hover {
  cursor: pointer;
}
.hot-content .arrow {
  height: 300px;
  z-index: 2;
  /* background-color: #dd6868; */
}
.hot-content .arrow:active {
  border: 3px solid blue;
  border-radius: 2px;
  box-shadow: 3px 3px 9px white;
}
.hot-content .arrow img {
  height: 35px;
  margin: 120px 25px 0 25px;
}

section .content-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54.8%;
  left: 0.6%;
  row-gap: 20px;
  width: 99%;
  height: 100%;
  z-index: 3;
  /* background-color: #423c3c; */
}
.content-area .row-box4 {
  display: flex;
  justify-content: space-evenly;
  height: 450px;
  width: 100%;
  /* background-color: #685b5b; */
}
.row-box4 .box {
  height: 450px;
  width: 350px;
  box-shadow: 2px 2px 8px #666;
  border-radius: 2px;
  background-color: #fff;
}
.content-area .row-slide {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 97.3%;
  margin: auto;
  background-color: white;
  box-shadow: 2px 2px 8px #666;
  /* background-color: #650d0d; */
}
.row-slide p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px 10px 25px;
}
.row-slide .box-area {
  display: flex;
  justify-content: space-evenly;
}
.box-area .box {
  height: 250px;
  width: 260px;
  box-shadow: 2px 2px 8px #666;
  border-radius: 2px;
  background-color: #d18484;
}
.content-area .row-slide-arrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 220px;
  width: 97.7%;
  /* background-color: #958f8f; */
}
.content-area .row3-arrow {
  top: 137%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row4-arrow {
  top: 181.5%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row6-arrow {
  top: 290%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row7-arrow {
  top: 334.5%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row9-arrow {
  top: 443%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row10-arrow {
  top: 487.3%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .row12-arrow {
  top: 596%;
  left: 1.2%;
  /* background-color: #958f8f; */
}
.content-area .arrow {
  height: 100px;
  width: 56px;
  margin: 55px 22px;
  z-index: 2;
  visibility: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 3px 9px #505050;
  /* transition: visibility 2s; */
}
.row-slide-arrow:hover .arrow {
  visibility: visible;
  /* transition: visibility 2s; */
}
.content-area .arrow:active {
  border: 3px solid blue;
  border-radius: 4px;
  box-shadow: 3px 3px 9px white;
}
.content-area .arrow img {
  height: 100px;
  width: 50px;
}

.p-recommend {
  position: absolute;
  height: 220px;
  width: 100%;
  top: 686%;
  background-color: white;
  box-shadow: 3px 3px 9px #505050;
}
