* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #6b6666;
  width: 100%;
  height: 43.75rem;
  margin-top: 299%;
  background-color: #505050;
}
.back-top {
  width: 100%;
  height: 3.5rem;
  background-color: #3b4b5b;
}
.back-top a {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-body);
  width: 100%;
  height: 2.5rem;
  font-size: 0.8rem;
  color: white;
  /* background: #000; */
}
.back-top a p {
  text-align: center;
  vertical-align: middle;
  margin-top: 1.5rem;
}
.xtra-links {
  width: 100%;
  height: 23.43rem;
  font-family: var(--font-body);
  background-color: #23303e;
}
.xtra-links .row {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 3.75rem;
  margin: auto;
  /* background-color: #df2c2c;  */
}
.xtra-links .row .col {
  display: flex;
  flex-direction: column;
  margin-top: 2.75rem;
  font-size: 0.9rem;
  color: white;
  /* column-gap: 4rem; */
  /* background-color: black; */
}
.xtra-links .row .col1 {
  width: 10.675rem;
  /* margin-left: 2.75rem; */
}
.xtra-links .row .col2 {
  width: 10.625rem;
  /* margin-left: 7.625rem; */
}
.xtra-links .row .col3 {
  width: 15rem;
  /* margin-left: 7.81rem; */
}
.xtra-links .row .col4 {
  width: 11rem;
  /* margin-left: 11.25rem; */
}
.xtra-links .row .col .headin {
  font-size: 1.02rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  line-height: 1rem;
}
.xtra-links .row .col a {
  text-decoration: none;
  color: rgb(232, 229, 229);
  font-size: 0.94rem;
  line-height: 1.625rem;
}
.xtra-links .row .col a:hover {
  text-decoration: underline;
}

.lang-region {
  display: flex;
  margin-top: 0.037rem;
  background-color: #23303e;
}
.lang-region .logo {
  width: 50%;
  padding: 2.25rem 0;
  /* margin-top: 40px; */
  /* background-color: #7c4949; */
}
.lang-region .logo img {
  height: 1.5rem;
  width: 5rem;
  margin-left: 34.75rem;
}
.lang-region .other {
  padding: 1.5rem 0;
  width: 50%;
  display: flex;
}
.lang-region .other .other-btn {
  border: 1px solid rgb(159, 156, 156);
  border-radius: 0.25rem;
  color: rgb(206, 203, 203);
  font-size: 1rem;
}
.lang-region .other .lang {
  margin-left: -1.875rem;
  height: 2.25rem;
  width: 8rem;
}
.lang-region .other .lang .img1 {
  height: 0.75rem;
  width: 0.8rem;
  margin: 0.562rem 0 0 0.562rem;
}
.lang-region .other .lang span {
  margin: 0.437rem 0 0 0.625rem;
}
.lang-region .other .lang .img2 {
  height: 0.812rem;
  width: 0.812rem;
  margin: 0.562rem 0 0 23px;
}
.other .lang:hover .lang-drop-container {
  visibility: visible;
}
.lang-region .other .region {
  height: 2.25rem;
  width: 5.625rem;
  display: flex;
  margin: 0.25rem 0 0 0.437rem;
}
.lang-region .other .region img {
  height: 1.437rem;
  width: 1.25rem;
  margin: 0.4rem 0 0 0.437rem;
}
.lang-region .other .region span {
  margin: 0.5rem 0 0 0.5rem;
  /* background-color: #000; */
}
.lang-region .other a {
  text-decoration: none;
}

.rights {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-body);
  height: 16.87rem;
  background-color: #11161d;
}
.rights .more-links {
  display: flex;
}
/* .rights .more-links .right-common {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  width: 1.25rem;
} */
.rights .more-links .rights-common a {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.rights .more-links p {
  font-size: 0.7rem;
}
.rights .more-links span {
  font-weight: 100;
}

.rights .copy-rights {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
  color: rgb(232, 229, 229);
  line-height: 1.25rem;
  margin-top: 1.875rem;
}
.rights .copy-rights .links {
  display: flex;
  margin: auto;
  column-gap: 1.25rem;
  /* padding: 0 35.312rem; */
}
.rights .more-links a,
.rights .copy-rights .links a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(232, 229, 229);
}
.rights .more-links a:hover,
.rights .copy-rights .links a:hover {
  text-decoration: underline;
}
