* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-navbar1: #131921;
  --bg-navbar2: #232f3e;
  --bg-allheader: #232f3e;
  --font-body: "Arial", "san serif";
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
}
.first-nav {
  display: flex;
  height: 3.75rem;
  background-color: var(--bg-navbar1);
  /* position: fixed; */
}
.first-nav .select {
  padding: 0 0.375rem;
}
.first-nav .select:hover {
  border: 1px solid #fff;
}
.nav-left {
  width: 22.5rem;
}
.nav-left .select {
  margin-right: 0.25rem;
}
.first-nav .nav-left {
  display: flex;
  /* width: 30%; */
}
.first-nav .logo {
  height: 3.25rem;
  margin: 0.25rem 0 0 0.25rem;
  /* padding: 0 0.375rem; */
}
.first-nav .logo a {
  display: flex;
  text-decoration: none;
}
.first-nav .logo a img {
  height: 2rem;
  width: 6rem;
  margin: 0.875rem 0;
}
.first-nav .logo a span {
  color: white;
  margin: 1.15rem 0 0 1px;
}
.first-nav .addr {
  height: 3rem;
  width: 13.25rem;
  margin-top: 0.25rem;
}
.first-nav .addr .addr-location {
  display: flex;
  /* margin-left: 0.125rem; */
}
.first-nav .addr a {
  text-decoration: none;
}
.addr-icon {
  height: 3.25rem;
  width: 1rem;
  margin-top: 1rem;
}
.addr-icon img {
  width: 1rem;
  height: 1.5rem;
  margin-left: 0.3125rem;
}
.addr-inner {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.addr-first {
  font-size: 0.75rem;
  margin-top: 0.75rem;
  color: rgb(194, 180, 180);
  text-decoration: none;
}
.addr-second {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.search {
  display: flex;
  height: 3rem;
  width: 47rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
}
.search .search-drop {
  height: 2.5rem;
  max-width: 12.5rem;
}
.search .search-drop select {
  height: 2.5rem;
  field-sizing: content;
  font-size: 0.875rem;
  border-style: none;
  border-radius: 0.5rem 0 0 0.5rem;
  margin-top: 0.3rem;
  background-color: rgb(235, 227, 227);
}
.search .search-drop select:hover {
  background-color: rgb(202, 196, 196);
  cursor: pointer;
}
.search .search-drop select:focus {
  outline: none;
  border: 3px solid #f1bb29;
}
.search .search-drop select option {
  background-color: #fff;
}
.search .search-ip {
  height: 2.5rem;
  width: 42rem;
}
.search .search-ip input {
  height: 2.5rem;
  width: 100%;
  max-width: 42rem;
  margin-top: 0.3rem;
  border: none;
}
.search-ip input:focus {
  outline: none;
  border: 3px solid #f1bb29;
}
.search .search-btn {
  margin-top: 0.3rem;
  border-radius: 0 0.375rem 0.375rem 0;
}
.search .search-btn button {
  height: 2.5rem;
  width: 2.875rem;
  background-color: #efc85e;
  border-radius: 0 0.375rem 0.375rem 0;
  border: none;
}
.search .search-btn button:hover {
  background-color: #e0ae25;
  cursor: pointer;
}
.search .search-btn button:focus {
  border: 3px solid #f1bb29;
}
.search .search-btn img {
  height: 2.25rem;
  width: 1.5rem;
  margin-top: 0.2rem;
}
.nav-right {
  display: flex;
  width: 25.625rem;
}
.lang {
  display: flex;
  height: 3rem;
  width: 4.5rem;
  margin: 0.25rem 0 0 0.625rem;
}
.lang a {
  display: flex;
  text-decoration: none;
}
.lang a .lang-flag {
  width: 1.5rem;
  height: 1.3rem;
  margin-top: 1.3rem;
}
.lang a .lang-code {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 1.55rem 0 0 0.2rem;
}
.lang a .lang-drop {
  height: 1.125rem;
  width: 1.5rem;
  margin: 1.55rem 0 0 -0.25rem;
}
.drop-container {
  display: flex;
  position: absolute;
  z-index: 5;
  background-color: white;
  border-radius: 0.125rem;
  margin-top: 3.4rem;
  visibility: hidden;
  /* transition: visibility 1s ease-in-out 500ms; */
  padding: 0.375rem 0;
  box-shadow: 0.375rem 0.375rem 0.75rem black;
}
.lang-drop-container {
  flex-direction: column;
  width: 15.62rem;
  font-size: 0.875rem;
  text-shadow: #131921;
  top: -0.2%;
  left: 72.2%;
}
.drop-container::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 23%;
  margin-left: 0.94rem;
  border-width: 0.625rem;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.lang-drop-container::after {
  left: 23%;
}
.lang-drop-container .radio-opt {
  height: 1.25rem;
  text-decoration: none;
  margin: 0.5rem 0 0 1rem;
  color: black;
  /* border-radius: ; */
}
.lang-drop-container .radio-opt:hover {
  color: red;
  text-decoration: underline;
}
.radio-opt:hover input[type="radio"] {
  background-color: red;
}
.radio-opt input {
  height: 1rem;
  width: 1rem;
}
.radio-opt label {
  margin: 1px 0 0 0.625rem;
}
.lang-drop-container .learn,
.lang-drop-container .region {
  margin: 0 0 0.625rem 49px;
  color: blue;
}
.lang-drop-container .learn:hover,
.lang-drop-container .region:hover {
  text-decoration: underline;
}
.lang-drop-container div img {
  height: 1.125rem;
  width: 1.5rem;
  margin: 8px 0 0 15px;
}
.lang .lang-main-container:hover .lang-drop-container {
  visibility: visible;
}

.accnt {
  height: 3rem;
  width: 9.3rem;
  margin: 0.25rem 0 0 0;
}
.accnt .accnt-main-container {
  margin-left: 0.25rem;
}
.accnt-main-container a {
  text-decoration: none;
}
.accnt-main-container a .accnt-sign-in {
  display: flex;
  color: white;
}
.accnt-sign-in .accnt-inner {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}
.accnt-inner .accnt-line1 {
  font-size: 0.75rem;
  color: rgb(194, 180, 180);
}
.accnt-inner .accnt-line2 {
  font-size: 0.9rem;
  font-weight: bold;
}
.accnt-sign-in img {
  width: 1.125rem;
  height: 1.125rem;
  margin: 1.6rem 0 0 0;
  /* background: #000; */
}
.accnt-drop-container {
  flex-direction: column;
  width: 31.25rem;
  top: -0.3%;
  left: 61.75%;
}
.accnt-drop-container::after {
  bottom: 100%;
  left: 71%;
}
.accnt-main-container:hover .accnt-drop-container {
  visibility: visible;
}
.accnt-drop-container .inner-sign-in {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.inner-sign-in .sign-in-btn {
  width: 12.5rem;
  height: 2rem;
  border-radius: 0.625rem;
  text-decoration: none;
  background-color: yellow;
  margin: 0.625rem 0 0.625rem 9.06rem;
  position: relative;
}
.sign-in-btn span {
  position: absolute;
  top: 20%;
  left: 40%;
}
.sign-in-btn span:hover {
  text-decoration: underline;
}
.inner-sign-in span a {
  text-decoration: underline;
  color: blue;
}
.accnt-drop-container .inner-content {
  display: flex;
  margin-top: 0.625rem;
}
.inner-content .sign-in-col1 {
  width: 11.87rem;
  display: flex;
  flex-direction: column;
  margin-left: 2.75rem;
}
.inner-content .sign-in-col2 {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem 0 3.75rem;
}
.inner-content .sign-in-col1 span,
.inner-content .sign-in-col2 span {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.sign-in-col1 a,
.sign-in-col2 a {
  text-decoration: none;
}
.sign-in-col1 a:hover,
.sign-in-col2 a:hover {
  text-decoration: underline;
  color: red;
}

.order {
  height: 3rem;
  width: 5.2rem;
  margin-top: 0.26rem;
}
.order a {
  text-decoration: none;
}
.order a .order-return {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0 0 0.3rem;
  color: white;
  /* padding: 0 0.375rem 0 0.625rem; */
}
.order-line1 {
  font-size: 0.72rem;
  color: rgb(194, 180, 180);
}
.order-line2 {
  font-weight: bold;
  font-size: 0.9rem;
}
.cart {
  height: 3rem;
  width: 5.875rem;
  margin: 0.25rem 0.25rem 0 0;
}
.cart a {
  text-decoration: none;
}
.cart a .cart-inner {
  display: flex;
  color: white;
  /* padding: 0 5px; */
}
.cart-inner img {
  height: 2.75rem;
  width: 2.75rem;
  margin-top: 0.125rem;
}
.cart-inner span {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1.55rem 0 0 -0.125rem;
}

.second-nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-navbar2);
  height: 2.45rem;
  font-family: var(--font-body);
  font-size: 0.9rem;
}
.second-nav .select {
  display: inline-block;
  /* padding: 0 0.625rem; */
}
.second-nav .select:hover {
  border: 1px solid #fff;
}
.second-nav .nav-left {
  margin: 0 0.125rem 0 0.625rem;
  color: #fff;
  width: 3.75rem;
  position: relative;
}
.second-nav .nav-left a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 0.375rem 0.625rem;
}
.second-nav .nav-left img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.075rem 0 0 -0.125rem;
}
.second-nav .nav-left span {
  font-weight: bold;
  margin: 0.25rem 0 0 0.125rem;
}
.second-nav .all-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 21.5rem;
  height: 100vh;
  top: -180%;
  left: -700%;
  /* left: -17%; */
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.second-nav .all-container .all-header {
  display: flex;
  height: 7rem;
  background-color: var(--bg-allheader);
  color: white;
}
.second-nav .all-header .close-btn {
  /* display: inline-block; */
  position: absolute;
  right: -12%;
  top: 2%;
  border: 1.5px solid white;
  border-radius: 3px;
  height: 2.25rem;
  width: 2.25rem;
}
.second-nav .all-header .close-btn img {
  margin-left: -0.25rem;
  /* padding: 1px; */
}
.second-nav .all-container .all-data {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.second-nav .all-container .all-data div {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.second-nav .all-container .all-data div .all-content-head {
  padding: 1rem 2.25rem 0.625rem 2.25rem;
  width: 33.75rem;
  font-size: 1.125rem;
}
.second-nav .all-container .all-data div a {
  padding: 0.625rem 2.25rem;
  height: 2.75rem;
  color: black;
  /* background-color: #881212; */
}
.second-nav .all-container .all-data div a span {
  font-weight: 300;
  /* padding: 3px 0; */
  /* background-color: #9c5454; */
}
.second-nav .all-container .all-data div a img {
  margin-top: -0.125rem;
  /* background-color: #111010; */
}
.second-nav .all-container .all-data div a:hover {
  background-color: #e0e0e0;
}
.second-nav .nav-left:hover .all-container {
  /* visibility: visible; */
  left: -17%;
}
.second-nav .nav-right {
  display: flex;
}
.second-nav .nav-right a {
  display: inline-block;
  width: 100%;
  margin: auto;
  white-space: nowrap;
  color: white;
  text-align: center;
  padding: 0.625rem 6.5px;
  text-decoration: none;
}
.fresh a img {
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.1rem 0 0 -0.1rem;
  /* background: #000; */
}
.fresh .fresh-drop-container {
  flex-direction: column;
  height: 17.5rem;
  width: 21rem;
  top: 6%;
  left: 4.5%;
}
.fresh .fresh-drop-container::after {
  bottom: 100%;
  left: 9%;
}
.fresh:hover .fresh-drop-container {
  visibility: visible;
}
.fresh-drop-container div {
  display: flex;
  margin: 1.125rem 0 0.625rem 0;
  /* background-color: #775858; */
}
.fresh-drop-container .img-container {
  height: 8.125rem;
  width: 8rem;
  background-color: #eee;
}
.fresh-drop-container .img-container:hover {
  background-color: #ddd;
  cursor: pointer;
}
.img-container img {
  height: 8.125rem;
  width: 20rem;
  /* background-image: url("./image/A-Fresh-Logo.png"); */
}
.fresh-drop-container .all-link {
  text-decoration: none;
  color: blue;
  margin-right: auto;
}
.fresh-drop-container .all-link:hover {
  text-decoration: underline;
  color: purple;
}
.prime a img {
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.1rem 0 0 -0.125rem;
}
.prime .prime-drop-container {
  flex-direction: column;
  width: 335px;
  top: 6%;
  left: 47.3%;
}
.prime .prime-drop-container::after {
  bottom: 100%;
  left: 12.3%;
}
.prime:hover .prime-drop-container {
  visibility: visible;
}
.prime-drop-container img {
  padding: 15px;
  margin: -5px 0;
}
.second-nav .nav-right .select {
  margin-right: 0.125rem;
}
body {
  background-color: #aaa;
}
